.text-white {
  color: #FFFFFF; }

.text-white {
  color: #333333; }

.text-red {
  color: #BE6361; }

.half-white {
  color: rgba(255, 255, 255, 0.5); }

@font-face {
  font-family: DMSans-Regular;
  src: url(../../font/DMSans-Regular.ttf); }

@font-face {
  font-family: DMSans-Bold;
  src: url(../../font/DMSans-Bold.ttf); }

@font-face {
  font-family: AlfaSlabOne-Regular;
  src: url(../../font/AlfaSlabOne-Regular.ttf); }

h1 {
  font-family: AlfaSlabOne-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 80px; }

h2 {
  font-family: AlfaSlabOne-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px; }

h3 {
  font-family: AlfaSlabOne-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px; }

h4 {
  font-family: DMSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px; }

h5 {
  font-family: DMSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px; }

p {
  font-family: DMSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px; }

.bold {
  font-family: DMSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px; }

.text-small {
  font-family: DMSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

.btn-style {
  background-color: #FF8482;
  border: 1px solid rgba(255, 255, 255, 0.295063);
  border-radius: 3px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: DMSans-Bold;
  font-size: 16px;
  width: 170px;
  height: 48px; }

.btn-style:hover {
  background-color: #FFFFFF;
  color: #FF8482; }

.btn-submit-style {
  background-color: #FFFFFF;
  border: 2px solid #333333;
  border-radius: 3px;
  color: #333333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: DMSans-Bold;
  font-size: 16px;
  width: 170px;
  height: 48px; }

.btn-submit-style:hover {
  background-color: #FF8482;
  color: #FFFFFF; }

.btn-red {
  background-color: #BE6361;
  border-radius: 3px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: DMSans-Bold;
  font-size: 16px;
  width: 170px;
  height: 48px; }

.btn-red:hover {
  background-color: #FFFFFF;
  border: 1px solid #BE6361;
  color: #BE6361; }

.btn-sand {
  background-color: #FFF2DD;
  border-radius: 3px;
  border: 1px solid #BE6361;
  color: #BE6361;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: DMSans-Bold;
  font-size: 16px;
  width: 170px;
  height: 48px; }

.btn-sand:hover {
  background-color: #BE6361;
  color: #FFF2DD; }

.pink {
  background-color: #FF8482; }

.sand {
  background-color: #FFF2DD; }

.white {
  background-color: #FFFFFF; }

.red {
  background-color: #BE6361; }

.darkred {
  background-color: #A85756; }

.content-block {
  min-height: 768px; }

.content-block-small {
  min-height: 448px; }

.content-block-mini {
  min-height: 80px; }

.navbar ul {
  list-style: none;
  text-align: center; }

.navbar ul li {
  display: table;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 992px) {
  .signup-button {
    display: display-block; }
  .signup-link a {
    display: none; } }

@media only screen and (max-width: 992px) {
  .signup-button {
    display: none; }
  .signup-link a {
    display: inline-block; } }

nav a {
  color: #FFFFFF !important; }

.link:hover {
  border-bottom: 2px solid #FFFFFF;
  padding: 6px 0; }

@media only screen and (max-width: 992px) {
  .overflow-break {
    overflow-wrap: break-word; } }

.vertical-center-children {
  display: flex;
  align-items: center; }

.center-text {
  text-align: center; }

.center {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.input-field {
  min-height: 48px;
  max-width: 270px; }

.padding {
  padding-top: 30px;
  padding-bottom: 30px; }

.padding-bottom {
  padding-bottom: 25px; }

.padding-top {
  padding-top: 25px; }

.padding-top-extra {
  padding-top: 50px; }

.padding-right {
  padding-right: 50px; }

.margin-right-icon {
  margin-right: 15px; }

.padding-left {
  padding-left: 50px; }

.padding-sides {
  padding-right: 15px;
  padding-left: 15px; }

.background-image {
  background-image: url("/images/sport.png");
  background-repeat: none;
  background-size: cover; }

.vertical-align-content {
  display: flex;
  align-items: center;
  justify-content: center; }

.icon {
  width: 21px;
  height: 20px; }

.p-flex {
  display: flex; }
