.testing {
  display: flex;
  width: percentage(5/7);
}

$font-stack:    Helvetica, sans-serif;
$primary-color: #999;

body {
  background-color: blue;
  font: 100% $font-stack;
  color: $primary-color;
}
